nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 10px;
    z-index: 1000;
    /* Ensure the navigation bar is above other content */
}

body {
    font-family: Arial, sans-serif; /* Use a clean and readable font */
    background-color: #f5f5f5; /* Light background color for readability */
    margin: 0;
    padding: 20px;
    background-size: cover; /* Ensure the background image covers the entire body */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Horizontal layout */
nav ul li {
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between items as needed */
}

/* Style for links */
nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.7s;
}

/* Hover effect */
nav ul li a:hover {
    background-color: skyblue;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.booking {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.booking:hover {
    background-color: #e0e0e0;
}

.booking-info {
    font-size: 18px;
    color: #333;
}

.booking-buttons {
    margin-top: 10px;
    text-align: left;
}

.booking-buttons button {
    margin-right: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.booking-buttons button:hover {
    background-color: #0056b3;
}
/* Static/style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 80px auto; /* Adjusted margin to accommodate the fixed navigation bar */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 20px;
    color: #555;
}