<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrowed Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='borrowed.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/display">Borrow</a></li>
            <li><a href="/update_display">Update/Delete Books</a></li>
            <li><a href="/add">Add</a></li>
            <li><a href="/borrowed_display">Borrowed Books</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Borrowed Books</h1>
        <ul>
            {% if borrowed_books %}
                {% for booking in borrowed_books %}
                    <li class="booking">
                        <div class="booking-info">
                            <strong>ID:</strong> {{ booking[0] }}<br>
                            <strong>Title:</strong> {{ booking[1] }}<br>
                            <strong>Author:</strong> {{ booking[2] }}<br>
                            <strong>Year:</strong> {{ booking[3] }}<br>
                            <strong>Borrower Name:</strong> {{ booking[4] }}<br>
                            <strong>Borrow Date:</strong> {{ booking[5] }}<br>
                        </div>
                        <div class="booking-buttons">
                            <form action="/return_book" method="POST">
                                <input type="hidden" name="book_id" value="{{ booking[0] }}">
                                <button type="submit">Return Book</button>
                            </form><hr><hr>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <p>No Borrowed Books.</p>
            {% endif %}
        </ul>
    </div>    
</body>
</html>
